

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
	vertical-align: middle;
	background-image:url('../images-new/bg_login.jpg');
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.eot');
    src: url('Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Regular.woff2') format('woff2'),
        url('Montserrat-Regular.woff') format('woff'),
        url('Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.login_content {
	padding:20px;
}

.loginbox {
	width:541px;
	background-color:#fff;
	background-image:url('../images-new/bg_login_bx.jpg');
	background-position: bottom;
	min-height: 700px; 
	margin-top:100px;
	font-size:15px;
	color:#58595b;
	font-family: 'Montserrat';
}

.action_zone {
	margin-top:10px;
}

.gray_text  {
	color:#B1B1B1;
}

.blue_text {
	color: #38B5ED;
}

input[type="text"],input[type="password"] {
	border:1px solid #ccc;
	padding:10px;
	font-size:13px;
	border-radius: 5px;
	margin-top:5px;
}
h2 {
	font-family: 'Montserrat';
    font-weight: normal; 
    font-style: normal;
}